<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Cập nhật danh mục</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="" action="" method="post" novalidate>                        
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tên danh mục<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" data-validate-length-range="200" data-validate-words="2" name="Name" placeholder="Tên danh mục" required="required" />
                            </div>
                        </div>                        
                        <div class="ln_solid">
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <input class="form-control" type="hidden" name="ID" />
                                    <input class="form-control" type="hidden" name="IDParent" />
                                    <button type='button' class="btn btn-primary save-dialog">Submit</button>
                                    <button type='reset' class="btn btn-success">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>