@model MyWedding.Pages.IndexModel
<div class="pt-page pt-page-6">
    <div class="container-fluid display_none bg-main-image">
        <div class="blur-img bg-couple" style="background-image: url('@Model.myWedding.ImageAlbum');"></div>
        <div class="page-scroll">
            <div class="bg-main-image-overlay-2-gallery">
                <div class="main-section-s2">
                    <div class="col-md-12">
                        <div class="page-title wow fadeInUp" data-class="fadeInUp">
                            <h2>Album Hình Cưới<span><i class="fas fa-heart"></i></span></h2>
                        </div>
                        <div class="page-top display_none">
                            <div class="gridlayout-main" style="margin-bottom:30px;">
                                <div class="gridlayout" style="max-width: 1400px;margin: auto;">
                                    @{
                                        for (int index = 0; index < Model.albums.Count; index++)
                                        {
                                            <div class="grid-item" style="padding:5px;">
                                                <a class="fancybox" href="@Model.albums[index].Path" data-fancybox-group="gallery" title="Ảnh lớn">
                                                    <img class="img-responsive" alt="gallery-image" src="@Model.albums[index].Path" title="Ảnh nhỏ">
                                                    <div class="gallery-image-hover"><i class="fas fa-search-plus"></i></div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>