@page
@model admim.GiamKichSan.Pages.Dialog.FilesListModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<style>
    ul.custom-treelist, ul.custom-treelist li {
        list-style-type: none;
    }

    ul.custom-treelist {
        margin: 0;
        padding: 0;
    }

        ul.custom-treelist .caret {
            cursor: pointer;
            user-select: none; /* Prevent text selection */
        }

            /* Create the caret/arrow with a unicode, and style it */
            ul.custom-treelist .caret::before {
                content: "\25B6";
                color: black;
                display: inline-block;
                margin-right: 6px;
            }

        /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
        ul.custom-treelist .caret-down::before {
            transform: rotate(90deg);
        }

        /* Hide the nested list */
        ul.custom-treelist .nested {
            display: none;
        }

        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        ul.custom-treelist .active {
            display: block;
        }
</style>

<div class="col-xs-3 col-md-2">
    <ul class="x_panel custom-treelist">
        <li>
            <span class="caret">Danh sách thư mục</span>
            <ul class="nested">
                @foreach (var item in Model.directories)
                {
                    @if (item.Parent.Count > 0)
                    {
                        <span class="caret">@item.Name</span>
                        <ul class="nested">
                            @foreach (var itemChild in item.Parent)
                            {
                                <li>@itemChild.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <li>@item.Name</li>
                    }
                }
            </ul>
        </li>
    </ul>
</div>

<div class="col-xs-9 col-md-10">
    <div class="x_panel">
        <div class="x_title">
            <h2>Danh sách files</h2>
            <div class="nav navbar-right panel_toolbox">
                <a class="btn btn-app clearfix create-directory">
                    <i class="fa fa-edit"></i> Create Directory
                </a>
                <a class="btn btn-app clearfix create-file" data-toggle="modal" data-target="#popupModal">
                    <i class="fa fa-play"></i> Create File
                </a>
                <a class="btn btn-app clearfix">
                    <i class="fa fa-save"></i> Save
                </a>
                <a class="btn btn-app clearfix">
                    <span class="badge bg-red">6</span>
                    <i class="fa fa-bullhorn"></i> Notifications
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <a href="~/template/production/images/picture.jpg" target="_blank">
                            <img src="~/template/production/images/picture.jpg" class="img-rounded" alt="Lights" style="width: 150px; height: 150px">
                            <p>Lorem ipsum donec</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
        let directory = $('.create-directory');
        directory.on('click', function (event) {
            common.baseApi.get('Dialog/UpdateDirectory').done(function (data) {
                common.popupPattern.show(directory, data);
                $('.save-directory').click(function () {
                    common.baseApi.post('Dialog/FilesList', { 'name': 'duanvc' }).done(function (data) {
                        console.log(data);
                    });
                });
            });
        });

    </script>


}
